<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camagru</title>
    <link rel="stylesheet" href="./public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./public/css/index.css"/>
</head>
<body>
	<header>
		<img class="logo" src="./public/images/logo.png" alt="logo-camagru"/>
		<nav>
			<ul class="nav_links">
				<li><a href="#" id="home">Home</a></li>
				<li><a href="#">Editing</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">About us</a></li>
			</ul>
		</nav>
		<div>
			<a href="#" id="btn-signin">Signin</a>
			<a href="#" id="btn-signup">Signup</a>
		</div>
	</header>