footer {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	background-color: #1c1c20;
	overflow: hidden;
}

footer p{
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	color: white;
}