nav {
	height: 65px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1c1c20;
}

nav .logo-area .logo{
	width: 40px;
	height: 50px;
	cursor: pointer;
}

.active-link {
	border-radius: 20px;
}

nav ul.nav-links li {
	text-align: center;
	list-style: none;
	display: inline;
	padding: 6px 10px;
}

nav ul.nav-links li a#profile,
nav ul.nav-links li a#settings,
nav ul.nav-links li a#logout {
	display: none;
}

nav ul.nav-links li a {
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	padding: 8px 10px;
	letter-spacing: 3px;
	color: rgb(226, 226, 226);
	transition: all 0.3s ease 0s;
}


nav ul.nav-links li:hover:not(:nth-last-child(-n+2)) {
	border-radius: 50px;
	color: #edf0f1;
	background-color: #0088a9;
}

nav ul.nav-links a#btn-signin,
nav ul.nav-links a#btn-signup {
	display: none;
}

nav .btn-auth img#profile-img {
	width: 55px;
	padding: 0px;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
}

nav .btn-auth img.active .dropdown {
	display: block;
}

nav .btn-auth img#notif-img {
	width: 30px;
	padding: 0px;
	margin-right: 20px;
	cursor: pointer;
}

nav .btn-auth .dropdown {
	position: absolute;
	width: 150px;
	text-align: left;
	padding: 8px 10px;
	height: 125px;
	top: 75px;
	/* right: 80px; */
	display: none;
	z-index: 1;
	background-color: #fff;
	border-radius: 8px;
}

nav .btn-auth .dropdown ul {
	list-style: none;
}

nav .btn-auth .dropdown ul li a {
	font-size: 12pt;
	text-decoration: none;
	color: #1c1c20;
}

.dropdown #gallery,
.dropdown #profile, 
.dropdown #settings, 
.dropdown #logout {
	width: 25px;
	margin-right: 10px;
}

a#btn-signin:hover,
a#btn-signup:hover {
	background-color: rgb(0, 98, 122);
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: white;
	transition: all 0.3s ease;
}

a#btn-signin,
a#btn-signup {
	background-color: rgba(0, 136, 169, 1);
	color: rgb(226, 226, 226);
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	padding: 9px 25px;
	text-decoration: none;
}

@media screen and (max-width: 1026px) {
	body {
		overflow-x: hidden;
	}
	.btn-auth {
		display: none;
	}
	.nav-links {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		right: 0;
		top: 65px;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		background-color: rgba(0, 136, 169, 1);
		z-index: 1;
	}
	ul.nav-links li {
		opacity: 0;
	}
	nav ul.nav-links li a#profile,
	nav ul.nav-links li a#settings,
	nav ul.nav-links li a#logout {
		display: block;
	}
	.burger {
		display: block;
	}
	nav ul.nav-links a#btn-signin,
	nav ul.nav-links a#btn-signup  {
		display: block;
		background-color: #1c1c20;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 11px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(0px, -6px);
}