div#alert-msg {
	width: auto;
	height: auto;
	margin: 0;
	padding: 10px 50px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 75px;
	left: 10px;
	z-index: 1;
	display: none;
}

nav {
	width: 100%;
	height: 65px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	/* left: 10px; */
	background-color: #1c1c20;
}

nav .logo-area .logo{
	width: 40px;
	height: 50px;
	cursor: pointer;
}

.active-link {
	border-radius: 20px;
}

nav ul.nav-links li {
	list-style: none;
	display: inline;
	text-align: center;
	padding: 6px 10px;
}

nav ul.nav-links li a#profile,
nav ul.nav-links li a#settings,
nav ul.nav-links li a#logout {
	display: none;
}

nav ul.nav-links li a {
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	padding: 8px 10px;
	letter-spacing: 3px;
	color: rgb(226, 226, 226);
	transition: all 0.3s ease 0s;
}


nav ul.nav-links li:hover:not(:nth-last-child(-n+2)) {
	border-radius: 50px;
	background-color: #00a3cc;
}

nav ul.nav-links a#btn-signin,
nav ul.nav-links a#btn-signup {
	display: none;
}

nav .btn-auth #area-notifications {
	float: left;
	margin-top: 10px;
	position: relative;
}

nav .btn-auth #area-notifications img#notif-img {
	width: 30px;
	padding: 0px;
	margin-right: 20px;
	cursor: pointer;
}

nav .btn-auth #area-notifications #countNotifs {
	width: 20px;
	height: 20px;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 15px;
	font-size: 10pt;
	border-radius: 100%;
	color: white;
	background-color: #00a3cc;
}

nav .btn-auth #area-notifications #notifications {
	width: 340px;
	height: 280px;
	position: absolute;
	top: 50px;
	right: 10px;
	border-radius: 8px;
	background-color: white;
	z-index: 1;
}

nav .btn-auth #area-notifications #notifications #title {
	width: 100%;
	text-align: center;
}

nav .btn-auth #area-notifications #notifications #title span {
	text-transform: uppercase;
	font-size: 11pt;
	color: rgb(82, 82, 82);
	margin: 0;
}

nav .btn-auth #area-notifications #notifications hr {
	margin: 0;
	padding: 0;
}

nav .btn-auth #area-notifications #notifications #manage-notifications {
	width: 100%;
	height: 28px;
	padding: 5px;
}

nav .btn-auth #area-notifications #notifications #manage-notifications #see-all,
nav .btn-auth #area-notifications #notifications #manage-notifications #delete-all  {
	text-transform: uppercase;
	font-size: 9pt;
	color: #007592;
	cursor: pointer;
}

nav .btn-auth #area-notifications #notifications #manage-notifications #delete-all {
	float: right;
}

nav .btn-auth #area-notifications #notifications #notifications-user {
	height: 220px;
	overflow-y: scroll;
}

nav .btn-auth #area-notifications #notifications #notifications-user [id^=notif-]:hover {
	background-color: rgb(231, 231, 231);
}

nav .btn-auth #area-user {
	position: relative;
	float: left;
}

nav .btn-auth #area-user img#profile-img {
	width: 55px;
	padding: 0px;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
}

nav .btn-auth img.active #area-user .dropdown {
	display: block;
}

nav .btn-auth #area-user .dropdown {
	width: 150px;
	height: 125px;
	position: absolute;
	padding: 8px 10px;
	top: 60px;
	left: -55px;
	text-align: left;
	border-radius: 8px;
	background-color: #fff;
	z-index: 1;
	display: none;
}

nav .btn-auth #area-user .dropdown ul {
	list-style: none;
}

nav .btn-auth #area-user .dropdown ul li a {
	font-size: 12pt;
	text-decoration: none;
	color: #1c1c20;
}

#area-user .dropdown #gallery,
#area-user .dropdown #profile, 
#area-user .dropdown #settings, 
#area-user .dropdown #logout {
	width: 25px;
	margin-right: 10px;
}

a#btn-signin:hover,
a#btn-signup:hover {
	background-color: rgb(0, 98, 122);
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: white;
	transition: all 0.3s ease;
}

a#btn-signin,
a#btn-signup {
	background-color: rgba(0, 136, 169, 1);
	color: rgb(226, 226, 226);
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	padding: 9px 25px;
	text-decoration: none;
}

@media screen and (max-width: 1026px) {
	body {
		overflow-x: hidden;
	}
	.btn-auth {
		display: none;
	}
	.nav-links {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 65px;
		display: block;
		transition: transform 0.1s ease;
		background-color: rgba(0, 136, 169, 1);
		z-index: 1;
		display: none;
	}
	nav ul.nav-links li  {
		display: block;
		opacity: 0;
	}
	nav ul.nav-links li a#profile,
	nav ul.nav-links li a#settings,
	nav ul.nav-links li a#logout {
		display: block;
	}
	.burger {
		display: block;
	}
	nav ul.nav-links a#btn-signin,
	nav ul.nav-links a#btn-signup  {
		display: block;
		background-color: #1c1c20;
	}
}

.nav-active {
	display: block;
	/* transform: translateX(0%); */
}

@keyframes navLinkFade{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 11px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(0px, -6px);
}