* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}

body {
	background-image: url('../images/background-img8.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.card {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-body .card-title{
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18pt;
	color: rgb(54, 54, 54);
}

.card-body .full-name{
	font-weight: bold;
	font-size: 18pt;
	text-transform: uppercase;
	color: rgba(0, 136, 169, 1);
}

.card-body .full-name img {
    margin: 20px;
}

.card-body .full-name img#icone-male {
    width: 90px;
    height: 90px;
}

.card-body .full-name img#icone-female {
    width: 60px;
    height: 60px;
}

.card-body .user-infos form .edit input#btn-edit {
    margin-bottom: 20px;
}