* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}

body {
	background: url('../images/background-img13.jpg') no-repeat center center fixed; 
	background-size: cover;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

#gallery {
	margin-top: 15px;
	margin-left: 7%;
}

.card {
	margin: 15px;
	padding: 2px;
	box-shadow: 5px 10px 18px rgb(199, 199, 199);
	background-color: rgb(241, 241, 241);
}

.card .card-title {
	margin: 0;
	font-weight: bold;
	font-size: 11pt;
	color: white;
}

.card .card-title #area-user img#user-img {
	border-radius: 100%;
	width: 55px;
	cursor: pointer;
}

.card .card-title #area-user a#user-link {
	text-decoration: none;
	color: rgb(46, 46, 46);
}

.card .card-title #area-img-menu {
	position: relative;
	color: black;
}

.card .card-title #area-img-menu .burger-img {
	padding: 3px;
	cursor: pointer;
}

.card .card-title #area-img-menu .burger-img div{
	width: 6px;
	height: 6px;
	margin: 2px;
	background-color: black;
	border-radius: 100%;
}

[id^=details-img-] {
	width: 160px;
	height: 130px;
	position: absolute;
	top: 35px;
	right: 10px;
	border-radius: 4px;
	font-weight: lighter;
	background-color: rgb(255, 255, 255);
	box-shadow: 3px 3px 7px rgb(233, 233, 233);
	display: none;
	z-index: 1;
}

[id^=details-img-] ul#details-imgList {
	list-style-type: none;
}

[id^=details-img-] ul#details-imgList li {
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

[id^=details-img-] ul#details-imgList li a {
	text-decoration: none;
	color: black;
}

[id^=details-img-] ul#details-imgList li:hover {
	background-color: #cefff3;
}

.card .card-title #area-description {
	color: black;
	padding: 3px;
	font-weight: lighter;
	font-size: 13pt;
}

.card .card-body {
	margin: 0;
	padding: 0;
}

.card .card-body img {
	width: 100%;
	height: 100%;
}

.card .card-footer {
	padding: 10px 0px 10px 0px;
	margin: 0;
	font-size: 10pt;
	color: rgb(46, 46, 46);
}
.card .card-footer .footer1 {
	margin-bottom: 30px;
	padding: 0px 10px;
}
.card .card-footer .footer2 {
	padding: 0px 35px;
}
.card .card-footer .footer1,
.card .card-footer .footer2 {
	width: 100%;
}

.card .card-footer .footer1 .footer-side1 {
	font-size: 10pt;
	float: left;
}

.card .card-footer .footer1 .footer-side2 {
	float: right;
	font-size: 10pt;
}

.card .card-footer .footer1 .footer-side2 span {
	font-size: 10pt;
}

.card .card-footer .footer1 .footer-side1 div#likes,
.card .card-footer .footer1 .footer-side1 div#comments {
	width: auto;
	height: 20px;
	float: left;
}

.card .card-footer .footer1 .footer-side1 div#likes img#icone-like {
	width: 22px;
	height: 22px;
}

.card .card-footer .footer1 .footer-side1 div#comments img#icone-comment {
	margin-top: 2px;
	margin-left: 2px;
	width: 20px; 
	height: 20px;
}

.card .card-footer .footer2 .like {
	float: left;
}

.card .card-footer .footer2 .comment {
	float: right;
}

.card .card-footer .footer2 .like img,
.card .card-footer .footer2 .comment img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

/* comments model */
.model-bg {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
	z-index: 1;
}

.active-model {
	visibility: visible;
	opacity: 1;
}

.model {
	width: 80%;
	height: 60%;
	background-color: white;
	border-radius: 8px;
	padding: 8px;
	position: relative;
}

.model #model-header {
	padding: 10px 0px 0px 10px;
}
.model #model-header div#title {
	font-size: 14pt;
	text-align: left;
}

.model #model-header div#close img {
	margin-right: 20px;
}

.model #model-header div h6 {
	letter-spacing: 3px;
	font-size: 11pt;
	font-weight: bold;
	color: rgb(54, 54, 54);
}
.model #model-header div #icon-cancel {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-radius: 100%;
}

.model .area-comments {
	width: 100%;
	height: 80%;
}

.model .area-comments .comments {
	height: 90%;
	background-color: #ebebeb;
	border-radius: 8px;
	overflow-y: scroll;
}

.model .area-comments #area-error-msg {
	width: 100%;
	font-weight: bold;
	color: rgb(190, 0, 0);
}

.area-write-coment div #user-img {
	width: 55px;
	height: 55px;
}

.area-write-coment div textarea#commentInput {
	height: 90px;
	resize: none;
}

@media (max-width: 750.98px) {
	#gallery {
		margin-left: 0%;
	}
}