* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background-image: url('../images/background-img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

div.jumbotron{
    background-color: rgba(158, 158, 158, 0.486);
    color: white;
}

div.jumbotron p{
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    div.jumbotron p{
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
    }
}

