* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    background: url('/public/images/background-home.png') no-repeat center center fixed; 
	background-size: cover;
}

.jumbotron{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.jumbotron .container p{
    font-size: 35px;
}

.jumbotron .container hr {
    color: rgb(71, 71, 71);
}

@media screen and (max-width: 1026px) {
    .jumbotron .container p{
        font-size: 25px;
        transition: all 0.5s ease;
    }
}