* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}

body {
	background: url('/public/images/background-img12.jpg') no-repeat center center fixed; 
	background-size: cover;
}

.card {
	margin-top: 140px;
}

.card-body .card-title{
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18pt;
	color: rgb(54, 54, 54);
}

.card-body div#icone img {
    width: 100px;
    height: 100px;
}

.card-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.card-footer #link-login {
	float: right;
}