* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background-image: url('../images/background-img7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 70vh;
    margin-top: 30px;
    text-align: center;
}

.container p {
    color: white;
    font-size: 60pt;
}

.container img {
    width: 80%;
    height: 80%;
}