* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}

body {
	background-image: url('../images/background-img9.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.container .card {
    padding: 30px;
}

.card .card-body .card-title span {
    letter-spacing: 3px;
	font-weight: bold;
	font-size: 18pt;
    color: rgb(65, 65, 65);
    float: left;
}

.card .card-body div.row div#choice{
    padding: 20px;
    font-size: 16pt;
    border-radius: 8px;
}

.card .card-body div.row div#choice a{
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}

.card .card-body div.row div#choice a:hover {
    background-color: #004aad;
    color: white;
}