* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background-image: url('../images/background-img13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#main-model {
    padding: 0px;
    margin: 0px;
}

#main-model .card-body .card-title #title {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16pt;
}

#image {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px;
    box-shadow: 5px 10px 20px rgb(87, 87, 87);
    width: 32.5%;
}

#image .card-title {
    margin: 0;
    font-weight: bold;
    font-size: 11pt;
    color: white;
    background-color: #1c1c20;
}

#image .card-title div img#user-img {
    border-radius: 100%;
    width: 55px;
    cursor: pointer;
}

#image .card-title div img#delete-img {
    cursor: pointer;
    width: 43px;
    height: 40px;
    margin-top: 5px;
}

#image .card-body {
    margin: 0;
    padding: 0;
}

#image .card-footer {
    padding: 10px 0px 10px 0px;
    margin: 0;
    font-size: 10pt;
    background-color: #686868;
    color: rgb(163, 163, 163);
}

#image .card-footer div {
    padding: 0px 20px;
}

#image .card-footer div div#likes { float: left; }

#image .card-footer div div#comments { float: right; }

#image .card-footer div div#likes img#icone-like,
#image .card-footer div div#comments img#icone-comment {
    cursor: pointer;
    width: 31px;
    height: 31px;
}


.model-bg, .model-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(141, 191, 255, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.active-model {
    visibility: visible;
    opacity: 1;
}

.model {
    width: 42%;
    height: 25%;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}

.model #model-header {
    padding: 10px 0px 0px 10px;
}
.model #model-header div#title {
    text-align: left;
}

.model #model-header div#close img {
    margin-right: 20px;
}

.model #model-header div h6 {
    letter-spacing: 3px;
    font-size: 11pt;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
.model #model-header div #icon-cancel {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 100%;
}

@media (max-width: 750.98px) {
    #image {
        width: 100%;
    }
    .model { width: 80%; height: 50%; }
    #main-model .card-body .card-title #title {
        font-size: 11pt;
    }
}