* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background-image: url('../images/background-img13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#gallery {
    margin-top: 5px;
    margin-left: 5px;
}

.card {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px;
    box-shadow: 5px 10px 20px rgb(87, 87, 87);
    width: 32.5%;
}

.card .card-title {
    margin: 0;
    font-weight: bold;
    font-size: 11pt;
    color: white;
}

.card .card-title div img#user-img {
    border-radius: 100%;
    width: 55px;
    cursor: pointer;
}

.card .card-title div img#delete-img {
    cursor: pointer;
    width: 43px;
    height: 40px;
    margin-top: 5px;
}

.card .card-body {
    margin: 0;
    padding: 0;
}

.card .card-body img {
    width: 100%;
    height: 100%;
}

.card .card-footer {
    padding: 10px 0px 10px 0px;
    margin: 0;
    font-size: 10pt;
    background-color: rgb(27, 27, 27);
    color: rgb(163, 163, 163);
}

.card .card-footer div {
    padding: 0px 20px;
}

.card .card-footer div div#likes { float: left; }

.card .card-footer div div#comments { float: right; }

.card .card-footer div div#likes img#icone-like,
.card .card-footer div div#comments img#icone-comment {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

@media (max-width: 750.98px) {
    .card {
        width: 100%;
    } 
}