* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background: url('/public/images/background-img7.jpg') no-repeat center center fixed; 
	background-size: cover;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 70vh;
    margin-top: 30px;
    text-align: center;
}

.container p {
    color: white;
    font-size: 60pt;
}

.container img {
    width: 80%;
    height: 80%;
}