* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background: url('/public/images/background-img6.jpg') no-repeat center center fixed; 
	background-size: cover;
}

.container {
    padding: 50px;
}

.card {
    position: relative;
    top: 200px;
}

.card-body p{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20pt;
    color: rgb(54, 54, 54);
}

.card-body form {
    color: rgb(77, 77, 77);
    padding: 80px 150px;
}

.card-body form #btn-login{
    position: relative;
    left: 40px;
}

#area-msg {
    height: 50px;
}

.reset-pass {
    font-size: 10pt;
    color: rgb(77, 77, 77);
}

.card-footer {
    position: absolute;
    bottom: 0;
}

.card-footer a {
    color: rgb(90, 90, 90);
}

.card-footer a#link-signup{
    float: right;
}

@media (max-width: 1199.98px) {
    .card-body form { padding: 50px 115px; }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-body form { padding: 40px 80px; }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-body form { padding: 50px 50px; }
    #btn-login { left: 15px; }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-body form { padding: 50px 40px; }
}

@media (max-width: 575.98px) {
    .card-body form { padding: 50px 40px; }
}