* {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

body {
	background: url('/public/images/background-img2.jpg') no-repeat center center fixed; 
	background-size: cover;
}
html, body {
	height: 100%;
}

.container .card {
	width: 100%;
	position: relative;
	top: 200px;
}

.card div div img {
	height: 100%;
	width: 100%;
}

.card-body p{
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20pt;
	color: rgb(54, 54, 54);
}

.card-body form {
	color: rgb(77, 77, 77);
	padding: 20px 0px;
}

.card-body form button{
	position: relative;
	left: 80px;
	top: 20px;
}

.register button {
	float: right;
}

.card-footer {
	position: absolute;
	bottom: 0;
}

.card-footer a {
	color: rgb(90, 90, 90);
}

.card-footer a#link-signin{
	float: right;
}